/* ==================================================================
   Map
   ================================================================== */

@import "../../assets/styles/colors";
@import "../../assets/styles/sizes";


.cars {
  height: 100vh;
  margin: 0;
  padding: 0;
}